.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../content/img/loading-img/loader-64x/Preloader_2.gif) center no-repeat #fff;
    
}
.jumbotron {
  height: 100%;
  width: 100%;
  opacity: 10%;
  background: url("../content/img/header2.jpg");
  background-size: 110% 110%;
  opacity:.8;
  margin-bottom: 0!important;
}

.sidebar-brand > a { cursor: default; }

.lead {
  font-family: 'Lato', sans-serif;
  font-size: 100px;
}
#Title {
  font-size: 250px;
  font-weight: bolder;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
#arrow-container {
  text-align: center;
  margin-top: 10%!important;
}

.arrow {
  color: #fff;
  text-align: center;
  -webkit-animation:bounce 2s infinite;
  -moz-animation:bounce 2s infinite;
}

.arrow:hover { text-decoration: none; }

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     { bottom:0; }
}

#about { color: #000; }
.about-panel { padding:0; }
.left-panel-img, .right-panel-img { padding: 0; }

.left-panel-img > img,
.right-panel-img > img {
  width: 49.5vw;
  height: 100vh;
}

hr { 
  margin: 15% 10% 0;
}

.left-panel-content,
.right-panel-content {
   padding: 13% 5% 5%;
   line-height: 25px;
   padding-bottom: 0;
   height:100vh;
   font-family: 'Lato', sans-serif;
   font-size: 15px;
}

.footer {
  padding: .5%;
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
}

@media (max-width: 550px) {
  .jumbotron {
    margin-bottom: 3%;
    height: 110%;
  }
  #Title {
    font-size: 130px;
    padding-top: 0;
  }
  #content {
    font-size: 19px;
  }
  #arrow-container {
    margin-top: 55%!important;
  }
  #sidebar-wrapper {
    max-width: 55%!important;
  }
  .hamburger.is-open {
    margin-left:6%;
  }
  .left-panel-img > img,
  .right-panel-img > img {
    width: 100vw;
    height: 50vh;
    margin-bottom:0;
  }
  .left-panel-content,
  .right-panel-content {
    margin-left:0;
    height: 10%!important;
    font-size: 13px;
  }
  .btn { margin-bottom: 5% }
  .about-panel:last-child { margin-top: 20%; }

}
@media (min-width:549px) {
  #arrow-container {
    margin-top: 5%;
  }
  .left-panel-content {
    width: 50%;
    margin-left: 1%;
    line-height: 25px;
    
  }
  .right-panel-content { width: 50%; }
  .left-panel-img { width: 48%; }
  .right-panel-img  { width: 50%; }
  .left-panel-content, .right-panel-img { float: right; }
  .left-panel-img, .right-panel-content { float: left; }
}
